.sidebar {
  display: flex;
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  width: 26vw;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
ul li:not(:first-child) .logo {
  transition: all 0.5s ease;
}
