.contentContainer{
    background-color: #fff;
    margin-left: 200px;
    height: auto;
    /* border: 2px solid black; */
}
@media all and (max-width: 768px){
    .contentContainer{
        margin-left: 40px;
    }
}