.mainCards{
    /* border: 1px solid maroon; */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}
.chart {
  display: flex;
  justify-content: center;
}
@media all and (max-width:768px){
  .mainCards{
    padding: 20px 0;
  }
}
